#answer1,
#answer2,
#answer3,
#answer4,
#correct-answer {
  height: 80px;
  width: 450px;
  background-color: #babfc0;
  margin: 10px;
  border: none;
}

#nextPage,
#backHome {
  font-size: 30px;
  width: 200px;
  height: 50px;
  border-radius: 0.5em;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}
