.container_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  gap: 60px;
}

.container_question {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 940px;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}
