.velocity {
  font-size: 40px;
}
.menuMain {
  font-size: 25px;
}

.nextPage,
.backHome {
  font-size: 30px;
  width: 300px;
  height: 70px;
  border-radius: 0.5em;
  border: none;
}

.historyQ {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 60px;
}

#question {
  color: white;
  font-size: 40px;
}

#question1 {
  text-align: center;
  padding: 12px;
  font-size: 40px;
}

.answer {
  font-size: 32px;
  color: black;
}

#mess {
  font-size: 32px;
}

#mess {
  font-size: 32px;
}
